@media (min-width: 640px) {
    #menu-button {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        flex: 1 1 auto;
    }
    
    main {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1.5rem;
    }

    h1 {
        grid-column: 1 / -1;
    }

    #about-me {
        grid-column: 1 / 2;
        grid-row: 2 / 3;  
    }

    #student-photo {
        grid-column: 2 / 3;
        grid-row: 2 / 3; 
    }

    #certificate-courses {
        grid-column: 1 / -1;
        grid-row: 3 / 4;     
    }

    #resources {
        grid-column: 1 / -1;
        grid-row: 4 / 5;    
    }


    #student-photo {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    #student-photo img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    #course-cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }
}